@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-drag: none; /* Disable drag for WebKit browsers */
  -khtml-user-drag: none; /* Disable drag for Konqueror browser */
  -moz-user-drag: none; /* Disable drag for Mozilla Firefox browser */
  -o-user-drag: none; /* Disable drag for Opera browser */
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Safari 3+, Safari on iOS 3+ */
  user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
}
